.page-404 {
  color: red;
  text-align: center;

  .headers {
    font-family: "Ink Free";
    font-weight: bold;
  }

  h1 {
    margin-top: 50px;
    font-size: 60px;
  }

  h2 {
    font-family: "Ink Free";
    margin-top: 20px;
    font-size: 40px;
  }
}

